/****** Object:  StoredProcedure [dbo].[insertГУ]    Script Date: 08/05/2016 08:55:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		@[Author,,Name]
-- Create date: @[Create Date,,]
-- Description:	@[Description,,]
-- =============================================
CREATE PROCEDURE [dbo].[insertГУ] 
          @N nvarchar(50)
,@Дата_монтажа_указанная_Исполнителем datetime
,@Статус_работ nvarchar(max)
,@Ответственный_сотрудник  nvarchar(max)
,@Дата_осмотра  datetime
,@Факт_установки_ГУ nvarchar(max)
,@Уникальный_номер_информационного_указателя nvarchar(max)
,@Тип_городского_указателя nvarchar(50)
,@Округ nvarchar(max)
,@Район nvarchar(max)
,@Улица_просп_пер_и_проч nvarchar(max)
,@Дом_корп_стр_и_проч nvarchar(max)
,@Улица_с_односторонним_движением nvarchar(max)
,@В_случае_установки_на_тротуаре_его_измеренная_ширина_м nvarchar(max)
,@Оценочная_ширина_тротуара nvarchar(max)
,@Расстояние_от_опоры_либо_от_центра_бетонного_основания_до_края nvarchar(max)
,@Тип_поверхности_установки nvarchar(max)
,@Проходимость nvarchar(max)
,@Реконструкция nvarchar(max)
,@Просматриваемость nvarchar(max)
,@Состояние_ГУ nvarchar(max)
,@Ориентация_ГУ nvarchar(max)
,@Соответствие_факт_места_установки_тех_Паспорту nvarchar(max)
,@Расстояние_до_места_установки_по_отметке_тех_паспорта_м nvarchar(max)
,@По_просматриваемости nvarchar(max)
,@По_отсутствию_нависания_над_проезжей_частью nvarchar(max)
,@По_ширине_тротуара_в_месте_установки nvarchar(max)
,@По_расположению_относительно_зеленых_насаждений nvarchar(max)
,@По_расстоянию_от_входа_в_транспортные_узлы_и_дома nvarchar(max)
,@По_расстоянию_до_края_велосипедной_дорожки nvarchar(max)
,@По_содержанию nvarchar(max)
,@По_количеству_и_правильному_расположению nvarchar(max)
,@Количество_информационных_полей nvarchar(max)
,@Наличие_модуля_с_картой_местности nvarchar(max)
,@Оформление_основания nvarchar(max)
,@Территория nvarchar(max)
,@Размер_бетонного_блока_длина nvarchar(max)
,@Размер_бетонного_блока_ширина nvarchar(max)
,@Площадь_восстановительных_работ_после_заглубления nvarchar(max)
,@Вывоз_техники_инвентаря_оборудования nvarchar(max)
,@Иные_нарушения_требований_технических_правил_к_городским_указате nvarchar(max)
,@Заключение nvarchar(max)
,@Тип_нарушения_внешнего_вида_и_технического_состояния nvarchar(max)
,@Примечание nvarchar(max)
,@Координата_X_ЕГКО nvarchar(max)
,@Координата_Y_ЕГКО nvarchar(max)
,@Адрес_установки_ГУсуществует_в_Москве nvarchar(max)
,@Наименования_и_нарпавления_указанные_на_инф_полях_верны nvarchar(max)
,@Место_фактической_установки_соответствует_отметке_на_карте_в_нов nvarchar(max)
,@ФИО_сотрудника_присвоевшего_координаты nvarchar(max)
,@ФИО_сотрудника_проверившего_информационные_поля nvarchar(max)
,@Отметка_о_занесении_в_АСУ_Инвентарный_номер nvarchar(max)
,@Дата_занесения_информации_в_АСУ datetime
,@Сотрудник_занесший_данные_в_АСУ nvarchar(max)
,@Дата_установки_ДУ_по_графику_ДЖКХиБ datetime
,@Год_реализации_по_госконтрату int
,@Этап_работ nvarchar(max)
,@Мероприятие_в_рамках_которого_установлен_ДУ nvarchar(max)
,@Планируемая_Исполнителем_дата_монтажа nvarchar(max)
,@Дата_поступления_информация_в_отдел_мониторинга datetime
,@Площадь_бетонного_блока_квм nvarchar(50)
,@Должность_сотрудника_обследовавшего_ДУ nvarchar(max)
,@Должность_сотрудника_занесшего_нформацию_в_АСУ nvarchar(max)
,@Счетчик_дополнительного_номера nvarchar(max)
,@Формирование_первой_части_УН nvarchar(max)
,@Вычисление_количества_знаков_во_второй_части_УН nvarchar(max)
,@Количество_нулей_подстановки_во_второй_части_УН nvarchar(max)
,@Формирование_необходимого_количества_нулей_для_сцепки nvarchar(max)
,@Сцепка_готовая_вторая_часть_УН nvarchar(max)
,@Сцепка_полный_УН nvarchar(max)
,@Дата_отправки_информации_Исполнителю datetime
,@Содержание_информационных_полей_Блок_1_сторона_А nvarchar(max)
,@Содержание_информационных_полей_Блок_1_сторона_Б nvarchar(max)
,@Содержание_информационных_полей_Блок_2_сторона_А nvarchar(max)
,@Содержание_информационных_полей_Блок_2_сторона_Б nvarchar(max)
,@Содержание_информационных_полей_Блок_3_сторона_А nvarchar(max)
,@Содержание_информационных_полей_Блок_3_сторона_Б nvarchar(max)
,@Содержание_информационных_полей_Блок_4_сторона_А nvarchar(max)
,@Содержание_информационных_полей_Блок_4_сторона_Б nvarchar(max)
,@Фото_стороны_А nvarchar(max)
,@Фото_стороны_Б nvarchar(max)
,@Фото_текста_1 nvarchar(max)
,@Фото_текста_2 nvarchar(max)
,@Фото_текста_3 nvarchar(max)
,@Фото_текста_4 nvarchar(max)
,@Фото_замечания nvarchar(max)
,@Карта nvarchar(max)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
IF NOT EXISTS (select [Уникальный номер информационного указателя] from [GBUMATC].[dbo].[ГУ] WHERE [Уникальный номер информационного указателя] = @Уникальный_номер_информационного_указателя)
INSERT INTO [GBUMATC].[dbo].[ГУ]
           ([№ п/п]
           ,[Дата монтажа указанная Исполнителем]
           ,[Статус работ]
           ,[Ответственный сотрудник]
           ,[Дата осмотра]
           ,[Факт установки ГУ]
           ,[Уникальный номер информационного указателя]
           ,[Тип городского указателя]
           ,[Округ]
           ,[Район]
           ,[Улица, просп, пер и проч]
           ,[Дом, корп, стр и проч]
           ,[Улица с односторонним движением]
           ,[В случае установки на тротуаре, его измеренная ширина (м)]
           ,[Оценочная ширина тротуара]
           ,[Расстояние от опоры (либо от центра бетонного основания) до края]
           ,[Тип поверхности установки]
           ,[Проходимость]
           ,[Реконструкция]
           ,[Просматриваемость]
           ,[Состояние ГУ]
           ,[Ориентация ГУ]
           ,[Соответствие факт. места установки тех. Паспорту]
           ,[Расстояние до места установки по отметке тех паспорта (м.)]
           ,[По просматриваемости]
           ,[По отсутствию нависания над проезжей частью]
           ,[По ширине тротуара в месте установки]
           ,[По расположению относительно зеленых насаждений]
           ,[По расстоянию от входа в транспортные узлы и дома]
           ,[По расстоянию до края велосипедной дорожки]
           ,[По содержанию]
           ,[По количеству и правильному расположению]
           ,[Количество информационных полей]
           ,[Наличие модуля с картой местности]
           ,[Оформление основания]
           ,[Территория]
           ,[Размер бетонного блока длина]
           ,[Размер бетонного блока ширина]
           ,[Площадь восстановительных работ после заглубления]
           ,[Вывоз техники, инвентаря, оборудования]
           ,[Иные нарушения требований технических правил к городским указате]
           ,[Заключение]
           ,[Тип нарушения внешнего вида и технического состояния]
           ,[Примечание]
           ,[Координата X (ЕГКО)]
           ,[Координата Y (ЕГКО)]
           ,[Адрес установки ГУсуществует в Москве]
           ,[Наименования и нарпавления указанные на инф. полях верны]
           ,[Место фактической установки соответствует отметке на карте в нов]
           ,[ФИО сотрудника, присвоевшего координаты]
           ,[ФИО сотрудника проверившего информационные поля]
           ,[Отметка о занесении в АСУ (Инвентарный номер)]
           ,[Дата занесения информации в АСУ]
           ,[Сотрудник занесший данные в АСУ]
           ,[Дата установки ДУ по графику ДЖКХиБ]
           ,[Год реализации по госконтрату]
           ,[Этап работ]
           ,[Мероприятие в рамках которого установлен ДУ]
           ,[Планируемая Исполнителем дата монтажа]
           ,[Дата поступления информация в отдел мониторинга]
           ,[Площадь бетонного блока (кв.м)]
           ,[Должность сотрудника обследовавшего ДУ]
           ,[Должность сотрудника занесшего нформацию в АСУ]
           ,[Счетчик дополнительного номера]
           ,[Формирование первой части УН]
           ,[Вычисление количества знаков во второй части УН]
           ,[Количество нулей подстановки во второй части УН]
           ,[Формирование необходимого количества нулей для сцепки]
           ,[Сцепка (готовая вторая часть УН)]
           ,[Сцепка (полный УН)]
           ,[Дата отправки информации Исполнителю]
           ,[Содержание информационных полей. Блок 1, сторона А]
           ,[Содержание информационных полей. Блок 1, сторона Б]
           ,[Содержание информационных полей. Блок 2, сторона А]
           ,[Содержание информационных полей. Блок 2, сторона Б]
           ,[Содержание информационных полей. Блок 3, сторона А]
           ,[Содержание информационных полей. Блок 3, сторона Б]
           ,[Содержание информационных полей. Блок 4, сторона А]
           ,[Содержание информационных полей. Блок 4, сторона Б]
           ,[Фото стороны А]
           ,[Фото стороны Б]
           ,[Фото текста 1]
           ,[Фото текста 2]
           ,[Фото текста 3]
           ,[Фото текста 4]
           ,[Фото замечания]
           ,[Карта])
     VALUES
           (@N
,@Дата_монтажа_указанная_Исполнителем
,@Статус_работ
,@Ответственный_сотрудник
,@Дата_осмотра
,@Факт_установки_ГУ
,@Уникальный_номер_информационного_указателя
,@Тип_городского_указателя
,@Округ
,@Район
,@Улица_просп_пер_и_проч
,@Дом_корп_стр_и_проч
,@Улица_с_односторонним_движением
,@В_случае_установки_на_тротуаре_его_измеренная_ширина_м
,@Оценочная_ширина_тротуара
,@Расстояние_от_опоры_либо_от_центра_бетонного_основания_до_края
,@Тип_поверхности_установки
,@Проходимость
,@Реконструкция
,@Просматриваемость
,@Состояние_ГУ
,@Ориентация_ГУ
,@Соответствие_факт_места_установки_тех_Паспорту
,@Расстояние_до_места_установки_по_отметке_тех_паспорта_м
,@По_просматриваемости
,@По_отсутствию_нависания_над_проезжей_частью
,@По_ширине_тротуара_в_месте_установки
,@По_расположению_относительно_зеленых_насаждений
,@По_расстоянию_от_входа_в_транспортные_узлы_и_дома
,@По_расстоянию_до_края_велосипедной_дорожки
,@По_содержанию
,@По_количеству_и_правильному_расположению
,@Количество_информационных_полей
,@Наличие_модуля_с_картой_местности
,@Оформление_основания
,@Территория
,@Размер_бетонного_блока_длина
,@Размер_бетонного_блока_ширина
,@Площадь_восстановительных_работ_после_заглубления
,@Вывоз_техники_инвентаря_оборудования
,@Иные_нарушения_требований_технических_правил_к_городским_указате
,@Заключение
,@Тип_нарушения_внешнего_вида_и_технического_состояния
,@Примечание
,@Координата_X_ЕГКО
,@Координата_Y_ЕГКО
,@Адрес_установки_ГУсуществует_в_Москве
,@Наименования_и_нарпавления_указанные_на_инф_полях_верны
,@Место_фактической_установки_соответствует_отметке_на_карте_в_нов
,@ФИО_сотрудника_присвоевшего_координаты
,@ФИО_сотрудника_проверившего_информационные_поля
,@Отметка_о_занесении_в_АСУ_Инвентарный_номер
,@Дата_занесения_информации_в_АСУ
,@Сотрудник_занесший_данные_в_АСУ
,@Дата_установки_ДУ_по_графику_ДЖКХиБ
,@Год_реализации_по_госконтрату
,@Этап_работ
,@Мероприятие_в_рамках_которого_установлен_ДУ
,@Планируемая_Исполнителем_дата_монтажа
,@Дата_поступления_информация_в_отдел_мониторинга
,@Площадь_бетонного_блока_квм
,@Должность_сотрудника_обследовавшего_ДУ
,@Должность_сотрудника_занесшего_нформацию_в_АСУ
,@Счетчик_дополнительного_номера
,@Формирование_первой_части_УН
,@Вычисление_количества_знаков_во_второй_части_УН
,@Количество_нулей_подстановки_во_второй_части_УН
,@Формирование_необходимого_количества_нулей_для_сцепки
,@Сцепка_готовая_вторая_часть_УН
,@Сцепка_полный_УН
,@Дата_отправки_информации_Исполнителю
,@Содержание_информационных_полей_Блок_1_сторона_А
,@Содержание_информационных_полей_Блок_1_сторона_Б
,@Содержание_информационных_полей_Блок_2_сторона_А
,@Содержание_информационных_полей_Блок_2_сторона_Б
,@Содержание_информационных_полей_Блок_3_сторона_А
,@Содержание_информационных_полей_Блок_3_сторона_Б
,@Содержание_информационных_полей_Блок_4_сторона_А
,@Содержание_информационных_полей_Блок_4_сторона_Б
,@Фото_стороны_А
,@Фото_стороны_Б
,@Фото_текста_1
,@Фото_текста_2
,@Фото_текста_3
,@Фото_текста_4
,@Фото_замечания
,@Карта)
 
ELSE
	IF EXISTS (
SELECT [Уникальный номер информационного указателя] FROM [GBUMATC].[dbo].[ГУ]
	WHERE [Уникальный номер информационного указателя] = @Уникальный_номер_информационного_указателя
		and
	 ([№ п/п] <> @N
       or [Дата монтажа указанная Исполнителем] <> @Дата_монтажа_указанная_Исполнителем
       or [Статус работ] <> @Статус_работ
       or [Ответственный сотрудник] <> @Ответственный_сотрудник
       or [Дата осмотра] <> @Дата_осмотра
       or [Факт установки ГУ] <> @Факт_установки_ГУ
       
       or [Тип городского указателя] <> @Тип_городского_указателя
       or [Округ] <> @Округ
       or [Район] <> @Район
       or [Улица, просп, пер и проч] <> @Улица_просп_пер_и_проч
       or [Дом, корп, стр и проч] <> @Дом_корп_стр_и_проч
       or [Улица с односторонним движением] <> @Улица_с_односторонним_движением
       or [В случае установки на тротуаре, его измеренная ширина (м)] <> @В_случае_установки_на_тротуаре_его_измеренная_ширина_м
       or [Оценочная ширина тротуара] <> @Оценочная_ширина_тротуара
       or [Расстояние от опоры (либо от центра бетонного основания) до края] <> @Расстояние_от_опоры_либо_от_центра_бетонного_основания_до_края
       or [Тип поверхности установки] <> @Тип_поверхности_установки
       or [Проходимость] <> @Проходимость
       or [Реконструкция] <> @Реконструкция
       or [Просматриваемость] <> @Просматриваемость
       or [Состояние ГУ] <> @Состояние_ГУ
       or [Ориентация ГУ] <> @Ориентация_ГУ
       or [Соответствие факт. места установки тех. Паспорту] <> @Соответствие_факт_места_установки_тех_Паспорту
       or [Расстояние до места установки по отметке тех паспорта (м.)] <> @Расстояние_до_места_установки_по_отметке_тех_паспорта_м
       or [По просматриваемости] <> @По_просматриваемости
       or [По отсутствию нависания над проезжей частью] <> @По_отсутствию_нависания_над_проезжей_частью
       or [По ширине тротуара в месте установки] <> @По_ширине_тротуара_в_месте_установки
       or [По расположению относительно зеленых насаждений] <> @По_расположению_относительно_зеленых_насаждений
       or [По расстоянию от входа в транспортные узлы и дома] <> @По_расстоянию_от_входа_в_транспортные_узлы_и_дома
       or [По расстоянию до края велосипедной дорожки] <> @По_расстоянию_до_края_велосипедной_дорожки
       or [По содержанию] <> @По_содержанию
       or [По количеству и правильному расположению] <> @По_количеству_и_правильному_расположению
       or [Количество информационных полей] <> @Количество_информационных_полей
       or [Наличие модуля с картой местности] <> @Наличие_модуля_с_картой_местности
       or [Оформление основания] <> @Оформление_основания
       or [Территория] <> @Территория
       or [Размер бетонного блока длина] <> @Размер_бетонного_блока_длина
       or [Размер бетонного блока ширина] <> @Размер_бетонного_блока_ширина
       or [Площадь восстановительных работ после заглубления] <> @Площадь_восстановительных_работ_после_заглубления
       or [Вывоз техники, инвентаря, оборудования] <> @Вывоз_техники_инвентаря_оборудования
       or [Иные нарушения требований технических правил к городским указате] <> @Иные_нарушения_требований_технических_правил_к_городским_указате
       or [Заключение] <> @Заключение
       or [Тип нарушения внешнего вида и технического состояния] <> @Тип_нарушения_внешнего_вида_и_технического_состояния
       or [Примечание] <> @Примечание
       or [Координата X (ЕГКО)] <> @Координата_X_ЕГКО
       or [Координата Y (ЕГКО)] <> @Координата_Y_ЕГКО
       or [Адрес установки ГУсуществует в Москве] <> @Адрес_установки_ГУсуществует_в_Москве
       or [Наименования и нарпавления указанные на инф. полях верны] <> @Наименования_и_нарпавления_указанные_на_инф_полях_верны
       or [Место фактической установки соответствует отметке на карте в нов] <> @Место_фактической_установки_соответствует_отметке_на_карте_в_нов
       or [ФИО сотрудника, присвоевшего координаты] <> @ФИО_сотрудника_присвоевшего_координаты
       or [ФИО сотрудника проверившего информационные поля] <> @ФИО_сотрудника_проверившего_информационные_поля
       or [Отметка о занесении в АСУ (Инвентарный номер)] <> @Отметка_о_занесении_в_АСУ_Инвентарный_номер
       or [Дата занесения информации в АСУ] <> @Дата_занесения_информации_в_АСУ
       or [Сотрудник занесший данные в АСУ] <> @Сотрудник_занесший_данные_в_АСУ
       or [Дата установки ДУ по графику ДЖКХиБ] <> @Дата_установки_ДУ_по_графику_ДЖКХиБ
       or [Год реализации по госконтрату] <> @Год_реализации_по_госконтрату
       or [Этап работ] <> @Этап_работ
       or [Мероприятие в рамках которого установлен ДУ] <> @Мероприятие_в_рамках_которого_установлен_ДУ
       or [Планируемая Исполнителем дата монтажа] <> @Планируемая_Исполнителем_дата_монтажа
       or [Дата поступления информация в отдел мониторинга] <> @Дата_поступления_информация_в_отдел_мониторинга
       or [Площадь бетонного блока (кв.м)] <> @Площадь_бетонного_блока_квм
       or [Должность сотрудника обследовавшего ДУ] <> @Должность_сотрудника_обследовавшего_ДУ
       or [Должность сотрудника занесшего нформацию в АСУ] <> @Должность_сотрудника_занесшего_нформацию_в_АСУ
       or [Счетчик дополнительного номера] <> @Счетчик_дополнительного_номера
       or [Формирование первой части УН] <> @Формирование_первой_части_УН
       or [Вычисление количества знаков во второй части УН] <> @Вычисление_количества_знаков_во_второй_части_УН
       or [Количество нулей подстановки во второй части УН] <> @Количество_нулей_подстановки_во_второй_части_УН
       or [Формирование необходимого количества нулей для сцепки] <> @Формирование_необходимого_количества_нулей_для_сцепки
       or [Сцепка (готовая вторая часть УН)] <> @Сцепка_готовая_вторая_часть_УН
       or [Сцепка (полный УН)] <> @Сцепка_полный_УН
       or [Дата отправки информации Исполнителю] <> @Дата_отправки_информации_Исполнителю
       or [Содержание информационных полей. Блок 1, сторона А] <> @Содержание_информационных_полей_Блок_1_сторона_А
       or [Содержание информационных полей. Блок 1, сторона Б] <> @Содержание_информационных_полей_Блок_1_сторона_Б
       or [Содержание информационных полей. Блок 2, сторона А] <> @Содержание_информационных_полей_Блок_2_сторона_А
       or [Содержание информационных полей. Блок 2, сторона Б] <> @Содержание_информационных_полей_Блок_2_сторона_Б
       or [Содержание информационных полей. Блок 3, сторона А] <> @Содержание_информационных_полей_Блок_3_сторона_А
       or [Содержание информационных полей. Блок 3, сторона Б] <> @Содержание_информационных_полей_Блок_3_сторона_Б
       or [Содержание информационных полей. Блок 4, сторона А] <> @Содержание_информационных_полей_Блок_4_сторона_А
       or [Содержание информационных полей. Блок 4, сторона Б] <> @Содержание_информационных_полей_Блок_4_сторона_Б
       or [Фото стороны А] <> @Фото_стороны_А
       or [Фото стороны Б] <> @Фото_стороны_Б
       or [Фото текста 1] <> @Фото_текста_1
       or [Фото текста 2] <> @Фото_текста_2
       or [Фото текста 3] <> @Фото_текста_3
       or [Фото текста 4] <> @Фото_текста_4
       or [Фото замечания] <> @Фото_замечания
       or [Карта] <> @Карта))
	INSERT INTO [GBUMATC].[dbo].[ГУ]
           ([№ п/п]
           ,[Дата монтажа указанная Исполнителем]
           ,[Статус работ]
           ,[Ответственный сотрудник]
           ,[Дата осмотра]
           ,[Факт установки ГУ]
           ,[Уникальный номер информационного указателя]
           ,[Тип городского указателя]
           ,[Округ]
           ,[Район]
           ,[Улица, просп, пер и проч]
           ,[Дом, корп, стр и проч]
           ,[Улица с односторонним движением]
           ,[В случае установки на тротуаре, его измеренная ширина (м)]
           ,[Оценочная ширина тротуара]
           ,[Расстояние от опоры (либо от центра бетонного основания) до края]
           ,[Тип поверхности установки]
           ,[Проходимость]
           ,[Реконструкция]
           ,[Просматриваемость]
           ,[Состояние ГУ]
           ,[Ориентация ГУ]
           ,[Соответствие факт. места установки тех. Паспорту]
           ,[Расстояние до места установки по отметке тех паспорта (м.)]
           ,[По просматриваемости]
           ,[По отсутствию нависания над проезжей частью]
           ,[По ширине тротуара в месте установки]
           ,[По расположению относительно зеленых насаждений]
           ,[По расстоянию от входа в транспортные узлы и дома]
           ,[По расстоянию до края велосипедной дорожки]
           ,[По содержанию]
           ,[По количеству и правильному расположению]
           ,[Количество информационных полей]
           ,[Наличие модуля с картой местности]
           ,[Оформление основания]
           ,[Территория]
           ,[Размер бетонного блока длина]
           ,[Размер бетонного блока ширина]
           ,[Площадь восстановительных работ после заглубления]
           ,[Вывоз техники, инвентаря, оборудования]
           ,[Иные нарушения требований технических правил к городским указате]
           ,[Заключение]
           ,[Тип нарушения внешнего вида и технического состояния]
           ,[Примечание]
           ,[Координата X (ЕГКО)]
           ,[Координата Y (ЕГКО)]
           ,[Адрес установки ГУсуществует в Москве]
           ,[Наименования и нарпавления указанные на инф. полях верны]
           ,[Место фактической установки соответствует отметке на карте в нов]
           ,[ФИО сотрудника, присвоевшего координаты]
           ,[ФИО сотрудника проверившего информационные поля]
           ,[Отметка о занесении в АСУ (Инвентарный номер)]
           ,[Дата занесения информации в АСУ]
           ,[Сотрудник занесший данные в АСУ]
           ,[Дата установки ДУ по графику ДЖКХиБ]
           ,[Год реализации по госконтрату]
           ,[Этап работ]
           ,[Мероприятие в рамках которого установлен ДУ]
           ,[Планируемая Исполнителем дата монтажа]
           ,[Дата поступления информация в отдел мониторинга]
           ,[Площадь бетонного блока (кв.м)]
           ,[Должность сотрудника обследовавшего ДУ]
           ,[Должность сотрудника занесшего нформацию в АСУ]
           ,[Счетчик дополнительного номера]
           ,[Формирование первой части УН]
           ,[Вычисление количества знаков во второй части УН]
           ,[Количество нулей подстановки во второй части УН]
           ,[Формирование необходимого количества нулей для сцепки]
           ,[Сцепка (готовая вторая часть УН)]
           ,[Сцепка (полный УН)]
           ,[Дата отправки информации Исполнителю]
           ,[Содержание информационных полей. Блок 1, сторона А]
           ,[Содержание информационных полей. Блок 1, сторона Б]
           ,[Содержание информационных полей. Блок 2, сторона А]
           ,[Содержание информационных полей. Блок 2, сторона Б]
           ,[Содержание информационных полей. Блок 3, сторона А]
           ,[Содержание информационных полей. Блок 3, сторона Б]
           ,[Содержание информационных полей. Блок 4, сторона А]
           ,[Содержание информационных полей. Блок 4, сторона Б]
           ,[Фото стороны А]
           ,[Фото стороны Б]
           ,[Фото текста 1]
           ,[Фото текста 2]
           ,[Фото текста 3]
           ,[Фото текста 4]
           ,[Фото замечания]
           ,[Карта])
     VALUES
           (@N
,@Дата_монтажа_указанная_Исполнителем
,@Статус_работ
,@Ответственный_сотрудник
,@Дата_осмотра
,@Факт_установки_ГУ
,@Уникальный_номер_информационного_указателя
,@Тип_городского_указателя
,@Округ
,@Район
,@Улица_просп_пер_и_проч
,@Дом_корп_стр_и_проч
,@Улица_с_односторонним_движением
,@В_случае_установки_на_тротуаре_его_измеренная_ширина_м
,@Оценочная_ширина_тротуара
,@Расстояние_от_опоры_либо_от_центра_бетонного_основания_до_края
,@Тип_поверхности_установки
,@Проходимость
,@Реконструкция
,@Просматриваемость
,@Состояние_ГУ
,@Ориентация_ГУ
,@Соответствие_факт_места_установки_тех_Паспорту
,@Расстояние_до_места_установки_по_отметке_тех_паспорта_м
,@По_просматриваемости
,@По_отсутствию_нависания_над_проезжей_частью
,@По_ширине_тротуара_в_месте_установки
,@По_расположению_относительно_зеленых_насаждений
,@По_расстоянию_от_входа_в_транспортные_узлы_и_дома
,@По_расстоянию_до_края_велосипедной_дорожки
,@По_содержанию
,@По_количеству_и_правильному_расположению
,@Количество_информационных_полей
,@Наличие_модуля_с_картой_местности
,@Оформление_основания
,@Территория
,@Размер_бетонного_блока_длина
,@Размер_бетонного_блока_ширина
,@Площадь_восстановительных_работ_после_заглубления
,@Вывоз_техники_инвентаря_оборудования
,@Иные_нарушения_требований_технических_правил_к_городским_указате
,@Заключение
,@Тип_нарушения_внешнего_вида_и_технического_состояния
,@Примечание
,@Координата_X_ЕГКО
,@Координата_Y_ЕГКО
,@Адрес_установки_ГУсуществует_в_Москве
,@Наименования_и_нарпавления_указанные_на_инф_полях_верны
,@Место_фактической_установки_соответствует_отметке_на_карте_в_нов
,@ФИО_сотрудника_присвоевшего_координаты
,@ФИО_сотрудника_проверившего_информационные_поля
,@Отметка_о_занесении_в_АСУ_Инвентарный_номер
,@Дата_занесения_информации_в_АСУ
,@Сотрудник_занесший_данные_в_АСУ
,@Дата_установки_ДУ_по_графику_ДЖКХиБ
,@Год_реализации_по_госконтрату
,@Этап_работ
,@Мероприятие_в_рамках_которого_установлен_ДУ
,@Планируемая_Исполнителем_дата_монтажа
,@Дата_поступления_информация_в_отдел_мониторинга
,@Площадь_бетонного_блока_квм
,@Должность_сотрудника_обследовавшего_ДУ
,@Должность_сотрудника_занесшего_нформацию_в_АСУ
,@Счетчик_дополнительного_номера
,@Формирование_первой_части_УН
,@Вычисление_количества_знаков_во_второй_части_УН
,@Количество_нулей_подстановки_во_второй_части_УН
,@Формирование_необходимого_количества_нулей_для_сцепки
,@Сцепка_готовая_вторая_часть_УН
,@Сцепка_полный_УН
,@Дата_отправки_информации_Исполнителю
,@Содержание_информационных_полей_Блок_1_сторона_А
,@Содержание_информационных_полей_Блок_1_сторона_Б
,@Содержание_информационных_полей_Блок_2_сторона_А
,@Содержание_информационных_полей_Блок_2_сторона_Б
,@Содержание_информационных_полей_Блок_3_сторона_А
,@Содержание_информационных_полей_Блок_3_сторона_Б
,@Содержание_информационных_полей_Блок_4_сторона_А
,@Содержание_информационных_полей_Блок_4_сторона_Б
,@Фото_стороны_А
,@Фото_стороны_Б
,@Фото_текста_1
,@Фото_текста_2
,@Фото_текста_3
,@Фото_текста_4
,@Фото_замечания
,@Карта)	
END
GO
