/****** Object:  StoredProcedure [dbo].[updateГУ]    Script Date: 08/05/2016 08:55:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		@[Author,,Name]
-- Create date: @[Create Date,,]
-- Description:	@[Description,,]
-- =============================================
CREATE PROCEDURE [dbo].[updateГУ] 
          @N nvarchar(50) = null
,@Дата_монтажа_указанная_Исполнителем datetime = null
,@Статус_работ nvarchar(max) = null
,@Ответственный_сотрудник  nvarchar(max)= null
,@Дата_осмотра  datetime= null
,@Факт_установки_ГУ nvarchar(max)= null
,@Уникальный_номер_информационного_указателя nvarchar(max)= null
,@Тип_городского_указателя nvarchar(50)= null
,@Округ nvarchar(max)= null
,@Район nvarchar(max)= null
,@Улица_просп_пер_и_проч nvarchar(max)= null
,@Дом_корп_стр_и_проч nvarchar(max)= null
,@Улица_с_односторонним_движением nvarchar(max)= null
,@В_случае_установки_на_тротуаре_его_измеренная_ширина_м nvarchar(max)= null
,@Оценочная_ширина_тротуара nvarchar(max)= null
,@Расстояние_от_опоры_либо_от_центра_бетонного_основания_до_края nvarchar(max)= null
,@Тип_поверхности_установки nvarchar(max)= null
,@Проходимость nvarchar(max)= null
,@Реконструкция nvarchar(max)= null
,@Просматриваемость nvarchar(max)= null
,@Состояние_ГУ nvarchar(max)= null
,@Ориентация_ГУ nvarchar(max)= null
,@Соответствие_факт_места_установки_тех_Паспорту nvarchar(max)= null
,@Расстояние_до_места_установки_по_отметке_тех_паспорта_м nvarchar(max)= null
,@По_просматриваемости nvarchar(max)= null
,@По_отсутствию_нависания_над_проезжей_частью nvarchar(max)= null
,@По_ширине_тротуара_в_месте_установки nvarchar(max)= null
,@По_расположению_относительно_зеленых_насаждений nvarchar(max)= null
,@По_расстоянию_от_входа_в_транспортные_узлы_и_дома nvarchar(max)= null
,@По_расстоянию_до_края_велосипедной_дорожки nvarchar(max)= null
,@По_содержанию nvarchar(max)= null
,@По_количеству_и_правильному_расположению nvarchar(max)= null
,@Количество_информационных_полей nvarchar(max)= null
,@Наличие_модуля_с_картой_местности nvarchar(max)= null
,@Оформление_основания nvarchar(max)= null
,@Территория nvarchar(max)= null
,@Размер_бетонного_блока_длина nvarchar(max)= null
,@Размер_бетонного_блока_ширина nvarchar(max)= null
,@Площадь_восстановительных_работ_после_заглубления nvarchar(max)= null
,@Вывоз_техники_инвентаря_оборудования nvarchar(max)= null
,@Иные_нарушения_требований_технических_правил_к_городским_указате nvarchar(max)= null
,@Заключение nvarchar(max)= null
,@Тип_нарушения_внешнего_вида_и_технического_состояния nvarchar(max)= null
,@Примечание nvarchar(max)= null
,@Координата_X_ЕГКО nvarchar(max)= null
,@Координата_Y_ЕГКО nvarchar(max)= null
,@Адрес_установки_ГУсуществует_в_Москве nvarchar(max)= null
,@Наименования_и_нарпавления_указанные_на_инф_полях_верны nvarchar(max)= null
,@Место_фактической_установки_соответствует_отметке_на_карте_в_нов nvarchar(max)= null
,@ФИО_сотрудника_присвоевшего_координаты nvarchar(max)= null
,@ФИО_сотрудника_проверившего_информационные_поля nvarchar(max)= null
,@Отметка_о_занесении_в_АСУ_Инвентарный_номер nvarchar(max)= null
,@Дата_занесения_информации_в_АСУ datetime= null
,@Сотрудник_занесший_данные_в_АСУ nvarchar(max)= null
,@Дата_установки_ДУ_по_графику_ДЖКХиБ datetime= null
,@Год_реализации_по_госконтрату int= null
,@Этап_работ nvarchar(max)= null
,@Мероприятие_в_рамках_которого_установлен_ДУ nvarchar(max)= null
,@Планируемая_Исполнителем_дата_монтажа nvarchar(max)= null
,@Дата_поступления_информация_в_отдел_мониторинга datetime= null
,@Площадь_бетонного_блока_квм nvarchar(50)= null
,@Должность_сотрудника_обследовавшего_ДУ nvarchar(max)= null
,@Должность_сотрудника_занесшего_нформацию_в_АСУ nvarchar(max)= null
,@Счетчик_дополнительного_номера nvarchar(max)= null
,@Формирование_первой_части_УН nvarchar(max)= null
,@Вычисление_количества_знаков_во_второй_части_УН nvarchar(max)= null
,@Количество_нулей_подстановки_во_второй_части_УН nvarchar(max)= null
,@Формирование_необходимого_количества_нулей_для_сцепки nvarchar(max)= null
,@Сцепка_готовая_вторая_часть_УН nvarchar(max)= null
,@Сцепка_полный_УН nvarchar(max)= null
,@Дата_отправки_информации_Исполнителю datetime= null
,@Содержание_информационных_полей_Блок_1_сторона_А nvarchar(max)= null
,@Содержание_информационных_полей_Блок_1_сторона_Б nvarchar(max)= null
,@Содержание_информационных_полей_Блок_2_сторона_А nvarchar(max)= null
,@Содержание_информационных_полей_Блок_2_сторона_Б nvarchar(max)= null
,@Содержание_информационных_полей_Блок_3_сторона_А nvarchar(max)= null
,@Содержание_информационных_полей_Блок_3_сторона_Б nvarchar(max)= null
,@Содержание_информационных_полей_Блок_4_сторона_А nvarchar(max)= null
,@Содержание_информационных_полей_Блок_4_сторона_Б nvarchar(max)= null
,@Фото_стороны_А nvarchar(max)= null
,@Фото_стороны_Б nvarchar(max)= null
,@Фото_текста_1 nvarchar(max)= null
,@Фото_текста_2 nvarchar(max)= null
,@Фото_текста_3 nvarchar(max)= null
,@Фото_текста_4 nvarchar(max)= null
,@Фото_замечания nvarchar(max)= null
,@Карта nvarchar(max)= null
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
IF NOT EXISTS (select [Уникальный номер информационного указателя] from [GBUMATC].[dbo].[ГУ] WHERE [Уникальный номер информационного указателя] = @Уникальный_номер_информационного_указателя)
INSERT INTO [GBUMATC].[dbo].[ГУ]
           ([№ п/п]
           ,[Дата монтажа указанная Исполнителем]
           ,[Статус работ]
           ,[Ответственный сотрудник]
           ,[Дата осмотра]
           ,[Факт установки ГУ]
           ,[Уникальный номер информационного указателя]
           ,[Тип городского указателя]
           ,[Округ]
           ,[Район]
           ,[Улица, просп, пер и проч]
           ,[Дом, корп, стр и проч]
           ,[Улица с односторонним движением]
           ,[В случае установки на тротуаре, его измеренная ширина (м)]
           ,[Оценочная ширина тротуара]
           ,[Расстояние от опоры (либо от центра бетонного основания) до края]
           ,[Тип поверхности установки]
           ,[Проходимость]
           ,[Реконструкция]
           ,[Просматриваемость]
           ,[Состояние ГУ]
           ,[Ориентация ГУ]
           ,[Соответствие факт. места установки тех. Паспорту]
           ,[Расстояние до места установки по отметке тех паспорта (м.)]
           ,[По просматриваемости]
           ,[По отсутствию нависания над проезжей частью]
           ,[По ширине тротуара в месте установки]
           ,[По расположению относительно зеленых насаждений]
           ,[По расстоянию от входа в транспортные узлы и дома]
           ,[По расстоянию до края велосипедной дорожки]
           ,[По содержанию]
           ,[По количеству и правильному расположению]
           ,[Количество информационных полей]
           ,[Наличие модуля с картой местности]
           ,[Оформление основания]
           ,[Территория]
           ,[Размер бетонного блока длина]
           ,[Размер бетонного блока ширина]
           ,[Площадь восстановительных работ после заглубления]
           ,[Вывоз техники, инвентаря, оборудования]
           ,[Иные нарушения требований технических правил к городским указате]
           ,[Заключение]
           ,[Тип нарушения внешнего вида и технического состояния]
           ,[Примечание]
           ,[Координата X (ЕГКО)]
           ,[Координата Y (ЕГКО)]
           ,[Адрес установки ГУсуществует в Москве]
           ,[Наименования и нарпавления указанные на инф. полях верны]
           ,[Место фактической установки соответствует отметке на карте в нов]
           ,[ФИО сотрудника, присвоевшего координаты]
           ,[ФИО сотрудника проверившего информационные поля]
           ,[Отметка о занесении в АСУ (Инвентарный номер)]
           ,[Дата занесения информации в АСУ]
           ,[Сотрудник занесший данные в АСУ]
           ,[Дата установки ДУ по графику ДЖКХиБ]
           ,[Год реализации по госконтрату]
           ,[Этап работ]
           ,[Мероприятие в рамках которого установлен ДУ]
           ,[Планируемая Исполнителем дата монтажа]
           ,[Дата поступления информация в отдел мониторинга]
           ,[Площадь бетонного блока (кв.м)]
           ,[Должность сотрудника обследовавшего ДУ]
           ,[Должность сотрудника занесшего нформацию в АСУ]
           ,[Счетчик дополнительного номера]
           ,[Формирование первой части УН]
           ,[Вычисление количества знаков во второй части УН]
           ,[Количество нулей подстановки во второй части УН]
           ,[Формирование необходимого количества нулей для сцепки]
           ,[Сцепка (готовая вторая часть УН)]
           ,[Сцепка (полный УН)]
           ,[Дата отправки информации Исполнителю]
           ,[Содержание информационных полей. Блок 1, сторона А]
           ,[Содержание информационных полей. Блок 1, сторона Б]
           ,[Содержание информационных полей. Блок 2, сторона А]
           ,[Содержание информационных полей. Блок 2, сторона Б]
           ,[Содержание информационных полей. Блок 3, сторона А]
           ,[Содержание информационных полей. Блок 3, сторона Б]
           ,[Содержание информационных полей. Блок 4, сторона А]
           ,[Содержание информационных полей. Блок 4, сторона Б]
           ,[Фото стороны А]
           ,[Фото стороны Б]
           ,[Фото текста 1]
           ,[Фото текста 2]
           ,[Фото текста 3]
           ,[Фото текста 4]
           ,[Фото замечания]
           ,[Карта])
     VALUES
           (@N
,@Дата_монтажа_указанная_Исполнителем
,@Статус_работ
,@Ответственный_сотрудник
,@Дата_осмотра
,@Факт_установки_ГУ
,@Уникальный_номер_информационного_указателя
,@Тип_городского_указателя
,@Округ
,@Район
,@Улица_просп_пер_и_проч
,@Дом_корп_стр_и_проч
,@Улица_с_односторонним_движением
,@В_случае_установки_на_тротуаре_его_измеренная_ширина_м
,@Оценочная_ширина_тротуара
,@Расстояние_от_опоры_либо_от_центра_бетонного_основания_до_края
,@Тип_поверхности_установки
,@Проходимость
,@Реконструкция
,@Просматриваемость
,@Состояние_ГУ
,@Ориентация_ГУ
,@Соответствие_факт_места_установки_тех_Паспорту
,@Расстояние_до_места_установки_по_отметке_тех_паспорта_м
,@По_просматриваемости
,@По_отсутствию_нависания_над_проезжей_частью
,@По_ширине_тротуара_в_месте_установки
,@По_расположению_относительно_зеленых_насаждений
,@По_расстоянию_от_входа_в_транспортные_узлы_и_дома
,@По_расстоянию_до_края_велосипедной_дорожки
,@По_содержанию
,@По_количеству_и_правильному_расположению
,@Количество_информационных_полей
,@Наличие_модуля_с_картой_местности
,@Оформление_основания
,@Территория
,@Размер_бетонного_блока_длина
,@Размер_бетонного_блока_ширина
,@Площадь_восстановительных_работ_после_заглубления
,@Вывоз_техники_инвентаря_оборудования
,@Иные_нарушения_требований_технических_правил_к_городским_указате
,@Заключение
,@Тип_нарушения_внешнего_вида_и_технического_состояния
,@Примечание
,@Координата_X_ЕГКО
,@Координата_Y_ЕГКО
,@Адрес_установки_ГУсуществует_в_Москве
,@Наименования_и_нарпавления_указанные_на_инф_полях_верны
,@Место_фактической_установки_соответствует_отметке_на_карте_в_нов
,@ФИО_сотрудника_присвоевшего_координаты
,@ФИО_сотрудника_проверившего_информационные_поля
,@Отметка_о_занесении_в_АСУ_Инвентарный_номер
,@Дата_занесения_информации_в_АСУ
,@Сотрудник_занесший_данные_в_АСУ
,@Дата_установки_ДУ_по_графику_ДЖКХиБ
,@Год_реализации_по_госконтрату
,@Этап_работ
,@Мероприятие_в_рамках_которого_установлен_ДУ
,@Планируемая_Исполнителем_дата_монтажа
,@Дата_поступления_информация_в_отдел_мониторинга
,@Площадь_бетонного_блока_квм
,@Должность_сотрудника_обследовавшего_ДУ
,@Должность_сотрудника_занесшего_нформацию_в_АСУ
,@Счетчик_дополнительного_номера
,@Формирование_первой_части_УН
,@Вычисление_количества_знаков_во_второй_части_УН
,@Количество_нулей_подстановки_во_второй_части_УН
,@Формирование_необходимого_количества_нулей_для_сцепки
,@Сцепка_готовая_вторая_часть_УН
,@Сцепка_полный_УН
,@Дата_отправки_информации_Исполнителю
,@Содержание_информационных_полей_Блок_1_сторона_А
,@Содержание_информационных_полей_Блок_1_сторона_Б
,@Содержание_информационных_полей_Блок_2_сторона_А
,@Содержание_информационных_полей_Блок_2_сторона_Б
,@Содержание_информационных_полей_Блок_3_сторона_А
,@Содержание_информационных_полей_Блок_3_сторона_Б
,@Содержание_информационных_полей_Блок_4_сторона_А
,@Содержание_информационных_полей_Блок_4_сторона_Б
,@Фото_стороны_А
,@Фото_стороны_Б
,@Фото_текста_1
,@Фото_текста_2
,@Фото_текста_3
,@Фото_текста_4
,@Фото_замечания
,@Карта)
ELSE 
	
UPDATE [GBUMATC].[dbo].[ГУ]
   SET [№ п/п] = @N
      ,[Дата монтажа указанная Исполнителем] = @Дата_монтажа_указанная_Исполнителем
      ,[Статус работ] = @Статус_работ
      ,[Ответственный сотрудник] = @Ответственный_сотрудник
      ,[Дата осмотра] = @Дата_осмотра
      ,[Факт установки ГУ] = @Факт_установки_ГУ
      ,[Уникальный номер информационного указателя] = @Уникальный_номер_информационного_указателя
      ,[Тип городского указателя] = @Тип_городского_указателя
      ,[Округ] = @Округ
      ,[Район] = @Район
      ,[Улица, просп, пер и проч] = @Улица_просп_пер_и_проч
      ,[Дом, корп, стр и проч] = @Дом_корп_стр_и_проч
      ,[Улица с односторонним движением] = @Улица_с_односторонним_движением
      ,[В случае установки на тротуаре, его измеренная ширина (м)] = @В_случае_установки_на_тротуаре_его_измеренная_ширина_м
      ,[Оценочная ширина тротуара] = @Оценочная_ширина_тротуара
      ,[Расстояние от опоры (либо от центра бетонного основания) до края] = @Расстояние_от_опоры_либо_от_центра_бетонного_основания_до_края
      ,[Тип поверхности установки] = @Тип_поверхности_установки
      ,[Проходимость] = @Проходимость
      ,[Реконструкция] = @Реконструкция
      ,[Просматриваемость] = @Просматриваемость
      ,[Состояние ГУ] = @Состояние_ГУ
      ,[Ориентация ГУ] = @Ориентация_ГУ
      ,[Соответствие факт. места установки тех. Паспорту] = @Соответствие_факт_места_установки_тех_Паспорту
      ,[Расстояние до места установки по отметке тех паспорта (м.)] = @Расстояние_до_места_установки_по_отметке_тех_паспорта_м
      ,[По просматриваемости] = @По_просматриваемости
      ,[По отсутствию нависания над проезжей частью] = @По_отсутствию_нависания_над_проезжей_частью
      ,[По ширине тротуара в месте установки] = @По_ширине_тротуара_в_месте_установки
      ,[По расположению относительно зеленых насаждений] = @По_расположению_относительно_зеленых_насаждений
      ,[По расстоянию от входа в транспортные узлы и дома] = @По_расстоянию_от_входа_в_транспортные_узлы_и_дома
      ,[По расстоянию до края велосипедной дорожки] = @По_расстоянию_до_края_велосипедной_дорожки
      ,[По содержанию] = @По_содержанию
      ,[По количеству и правильному расположению] = @По_количеству_и_правильному_расположению
      ,[Количество информационных полей] = @Количество_информационных_полей
      ,[Наличие модуля с картой местности] = @Наличие_модуля_с_картой_местности
      ,[Оформление основания] = @Оформление_основания
      ,[Территория] = @Территория
      ,[Размер бетонного блока длина] = @Размер_бетонного_блока_длина
      ,[Размер бетонного блока ширина] = @Размер_бетонного_блока_ширина
      ,[Площадь восстановительных работ после заглубления] = @Площадь_восстановительных_работ_после_заглубления
      ,[Вывоз техники, инвентаря, оборудования] = @Вывоз_техники_инвентаря_оборудования
      ,[Иные нарушения требований технических правил к городским указате] = @Иные_нарушения_требований_технических_правил_к_городским_указате
      ,[Заключение] = @Заключение
      ,[Тип нарушения внешнего вида и технического состояния] = @Тип_нарушения_внешнего_вида_и_технического_состояния
      ,[Примечание] = @Примечание
      ,[Координата X (ЕГКО)] = @Координата_X_ЕГКО
      ,[Координата Y (ЕГКО)] = @Координата_Y_ЕГКО
      ,[Адрес установки ГУсуществует в Москве] = @Адрес_установки_ГУсуществует_в_Москве
      ,[Наименования и нарпавления указанные на инф. полях верны] = @Наименования_и_нарпавления_указанные_на_инф_полях_верны
      ,[Место фактической установки соответствует отметке на карте в нов] = @Место_фактической_установки_соответствует_отметке_на_карте_в_нов
      ,[ФИО сотрудника, присвоевшего координаты] = @ФИО_сотрудника_присвоевшего_координаты
      ,[ФИО сотрудника проверившего информационные поля] = @ФИО_сотрудника_проверившего_информационные_поля
      ,[Отметка о занесении в АСУ (Инвентарный номер)] = @Отметка_о_занесении_в_АСУ_Инвентарный_номер
      ,[Дата занесения информации в АСУ] = @Дата_занесения_информации_в_АСУ
      ,[Сотрудник занесший данные в АСУ] = @Сотрудник_занесший_данные_в_АСУ
      ,[Дата установки ДУ по графику ДЖКХиБ] = @Дата_установки_ДУ_по_графику_ДЖКХиБ
      ,[Год реализации по госконтрату] = @Год_реализации_по_госконтрату
      ,[Этап работ] = @Этап_работ
      ,[Мероприятие в рамках которого установлен ДУ] = @Мероприятие_в_рамках_которого_установлен_ДУ
      ,[Планируемая Исполнителем дата монтажа] = @Планируемая_Исполнителем_дата_монтажа
      ,[Дата поступления информация в отдел мониторинга] = @Дата_поступления_информация_в_отдел_мониторинга
      ,[Площадь бетонного блока (кв.м)] = @Площадь_бетонного_блока_квм
      ,[Должность сотрудника обследовавшего ДУ] = @Должность_сотрудника_обследовавшего_ДУ
      ,[Должность сотрудника занесшего нформацию в АСУ] = @Должность_сотрудника_занесшего_нформацию_в_АСУ
      ,[Счетчик дополнительного номера] = @Счетчик_дополнительного_номера
      ,[Формирование первой части УН] = @Формирование_первой_части_УН
      ,[Вычисление количества знаков во второй части УН] = @Вычисление_количества_знаков_во_второй_части_УН
      ,[Количество нулей подстановки во второй части УН] = @Количество_нулей_подстановки_во_второй_части_УН
      ,[Формирование необходимого количества нулей для сцепки] = @Формирование_необходимого_количества_нулей_для_сцепки
      ,[Сцепка (готовая вторая часть УН)] = @Сцепка_готовая_вторая_часть_УН
      ,[Сцепка (полный УН)] = @Сцепка_полный_УН
      ,[Дата отправки информации Исполнителю] = @Дата_отправки_информации_Исполнителю
      ,[Содержание информационных полей. Блок 1, сторона А] = @Содержание_информационных_полей_Блок_1_сторона_А
      ,[Содержание информационных полей. Блок 1, сторона Б] = @Содержание_информационных_полей_Блок_1_сторона_Б
      ,[Содержание информационных полей. Блок 2, сторона А] = @Содержание_информационных_полей_Блок_2_сторона_А
      ,[Содержание информационных полей. Блок 2, сторона Б] = @Содержание_информационных_полей_Блок_2_сторона_Б
      ,[Содержание информационных полей. Блок 3, сторона А] = @Содержание_информационных_полей_Блок_3_сторона_А
      ,[Содержание информационных полей. Блок 3, сторона Б] = @Содержание_информационных_полей_Блок_3_сторона_Б
      ,[Содержание информационных полей. Блок 4, сторона А] = @Содержание_информационных_полей_Блок_4_сторона_А
      ,[Содержание информационных полей. Блок 4, сторона Б] = @Содержание_информационных_полей_Блок_4_сторона_Б
      ,[Фото стороны А] = @Фото_стороны_А
      ,[Фото стороны Б] = @Фото_стороны_Б
      ,[Фото текста 1] = @Фото_текста_1
      ,[Фото текста 2] = @Фото_текста_2
      ,[Фото текста 3] = @Фото_текста_3
      ,[Фото текста 4] = @Фото_текста_4
      ,[Фото замечания] = @Фото_замечания
      ,[Карта] = @Карта
 WHERE isnull([Уникальный номер информационного указателя], '') = isnull(@Уникальный_номер_информационного_указателя, '')
		and
	 (isnull([№ п/п], '') <> isnull(@N, '')
       or isnull([Дата монтажа указанная Исполнителем], '') <> isnull(@Дата_монтажа_указанная_Исполнителем, '')
       or isnull([Статус работ], '') <> isnull(@Статус_работ, '')
       or isnull([Ответственный сотрудник], '') <> isnull(@Ответственный_сотрудник, '')
       or isnull([Дата осмотра], '') <> isnull(@Дата_осмотра, '')
       or isnull([Факт установки ГУ], '') <> isnull(@Факт_установки_ГУ, '')
       
       or isnull([Тип городского указателя], '') <> isnull(@Тип_городского_указателя, '')
       or isnull([Округ], '') <> isnull(@Округ, '')
       or isnull([Район], '') <> isnull(@Район, '')
       or isnull([Улица, просп, пер и проч], '') <> isnull(@Улица_просп_пер_и_проч, '')
       or isnull([Дом, корп, стр и проч], '') <> isnull(@Дом_корп_стр_и_проч, '')
       or isnull([Улица с односторонним движением], '') <> isnull(@Улица_с_односторонним_движением, '')
       or isnull([В случае установки на тротуаре, его измеренная ширина (м)], '') <> isnull(@В_случае_установки_на_тротуаре_его_измеренная_ширина_м, '')
       or isnull([Оценочная ширина тротуара], '') <> isnull(@Оценочная_ширина_тротуара, '')
       or isnull([Расстояние от опоры (либо от центра бетонного основания) до края], '') <> isnull(@Расстояние_от_опоры_либо_от_центра_бетонного_основания_до_края, '')
       or isnull([Тип поверхности установки], '') <> isnull(@Тип_поверхности_установки, '')
       or isnull([Проходимость], '') <> isnull(@Проходимость, '')
       or isnull([Реконструкция], '') <> isnull(@Реконструкция, '')
       or isnull([Просматриваемость], '') <> isnull(@Просматриваемость, '')
       or isnull([Состояние ГУ], '') <> isnull(@Состояние_ГУ, '')
       or isnull([Ориентация ГУ], '') <> isnull(@Ориентация_ГУ, '')
       or isnull([Соответствие факт. места установки тех. Паспорту], '') <> isnull(@Соответствие_факт_места_установки_тех_Паспорту, '')
       or isnull([Расстояние до места установки по отметке тех паспорта (м.)], '') <> isnull(@Расстояние_до_места_установки_по_отметке_тех_паспорта_м, '')
       or isnull([По просматриваемости], '') <> isnull(@По_просматриваемости, '')
       or isnull([По отсутствию нависания над проезжей частью], '') <> isnull(@По_отсутствию_нависания_над_проезжей_частью, '')
       or isnull([По ширине тротуара в месте установки], '') <> isnull(@По_ширине_тротуара_в_месте_установки, '')
       or isnull([По расположению относительно зеленых насаждений], '') <> isnull(@По_расположению_относительно_зеленых_насаждений, '')
       or isnull([По расстоянию от входа в транспортные узлы и дома], '') <> isnull(@По_расстоянию_от_входа_в_транспортные_узлы_и_дома, '')
       or isnull([По расстоянию до края велосипедной дорожки], '') <> isnull(@По_расстоянию_до_края_велосипедной_дорожки, '')
       or isnull([По содержанию], '') <> isnull(@По_содержанию, '')
       or isnull([По количеству и правильному расположению], '') <> isnull(@По_количеству_и_правильному_расположению, '')
       or isnull([Количество информационных полей], '') <> isnull(@Количество_информационных_полей, '')
       or isnull([Наличие модуля с картой местности], '') <> isnull(@Наличие_модуля_с_картой_местности, '')
       or isnull([Оформление основания], '') <> isnull(@Оформление_основания, '')
       or isnull([Территория], '') <> isnull(@Территория, '')
       or isnull([Размер бетонного блока длина], '') <> isnull(@Размер_бетонного_блока_длина, '')
       or isnull([Размер бетонного блока ширина], '') <> isnull(@Размер_бетонного_блока_ширина, '')
       or isnull([Площадь восстановительных работ после заглубления], '') <> isnull(@Площадь_восстановительных_работ_после_заглубления, '')
       or isnull([Вывоз техники, инвентаря, оборудования], '') <> isnull(@Вывоз_техники_инвентаря_оборудования, '')
       or isnull([Иные нарушения требований технических правил к городским указате], '') <> isnull(@Иные_нарушения_требований_технических_правил_к_городским_указате, '')
       or isnull([Заключение], '') <> isnull(@Заключение, '')
       or isnull([Тип нарушения внешнего вида и технического состояния], '') <> isnull(@Тип_нарушения_внешнего_вида_и_технического_состояния, '')
       or isnull([Примечание], '') <> isnull(@Примечание, '')
       or isnull([Координата X (ЕГКО)], '') <> isnull(@Координата_X_ЕГКО, '')
       or isnull([Координата Y (ЕГКО)], '') <> isnull(@Координата_Y_ЕГКО, '')
       or isnull([Адрес установки ГУсуществует в Москве], '') <> isnull(@Адрес_установки_ГУсуществует_в_Москве, '')
       or isnull([Наименования и нарпавления указанные на инф. полях верны], '') <> isnull(@Наименования_и_нарпавления_указанные_на_инф_полях_верны, '')
       or isnull([Место фактической установки соответствует отметке на карте в нов], '') <> isnull(@Место_фактической_установки_соответствует_отметке_на_карте_в_нов, '')
       or isnull([ФИО сотрудника, присвоевшего координаты], '') <> isnull(@ФИО_сотрудника_присвоевшего_координаты, '')
       or isnull([ФИО сотрудника проверившего информационные поля], '') <> isnull(@ФИО_сотрудника_проверившего_информационные_поля, '')
       or isnull([Отметка о занесении в АСУ (Инвентарный номер)], '') <> isnull(@Отметка_о_занесении_в_АСУ_Инвентарный_номер, '')
       or isnull([Дата занесения информации в АСУ], '') <> isnull(@Дата_занесения_информации_в_АСУ, '')
       or isnull([Сотрудник занесший данные в АСУ], '') <> isnull(@Сотрудник_занесший_данные_в_АСУ, '')
       or isnull([Дата установки ДУ по графику ДЖКХиБ], '') <> isnull(@Дата_установки_ДУ_по_графику_ДЖКХиБ, '')
       or isnull([Год реализации по госконтрату], '') <> isnull(@Год_реализации_по_госконтрату, '')
       or isnull([Этап работ], '') <> isnull(@Этап_работ, '')
       or isnull([Мероприятие в рамках которого установлен ДУ], '') <> isnull(@Мероприятие_в_рамках_которого_установлен_ДУ, '')
       or isnull([Планируемая Исполнителем дата монтажа], '') <> isnull(@Планируемая_Исполнителем_дата_монтажа, '')
       or isnull([Дата поступления информация в отдел мониторинга], '') <> isnull(@Дата_поступления_информация_в_отдел_мониторинга, '')
       or isnull([Площадь бетонного блока (кв.м)], '') <> isnull(@Площадь_бетонного_блока_квм, '')
       or isnull([Должность сотрудника обследовавшего ДУ], '') <> isnull(@Должность_сотрудника_обследовавшего_ДУ, '')
       or isnull([Должность сотрудника занесшего нформацию в АСУ], '') <> isnull(@Должность_сотрудника_занесшего_нформацию_в_АСУ, '')
       or isnull([Счетчик дополнительного номера], '') <> isnull(@Счетчик_дополнительного_номера, '')
       or isnull([Формирование первой части УН], '') <> isnull(@Формирование_первой_части_УН, '')
       or isnull([Вычисление количества знаков во второй части УН], '') <> isnull(@Вычисление_количества_знаков_во_второй_части_УН, '')
       or isnull([Количество нулей подстановки во второй части УН], '') <> isnull(@Количество_нулей_подстановки_во_второй_части_УН, '')
       or isnull([Формирование необходимого количества нулей для сцепки], '') <> isnull(@Формирование_необходимого_количества_нулей_для_сцепки, '')
       or isnull([Сцепка (готовая вторая часть УН)], '') <> isnull(@Сцепка_готовая_вторая_часть_УН, '')
       or isnull([Сцепка (полный УН)], '') <> isnull(@Сцепка_полный_УН, '')
       or isnull([Дата отправки информации Исполнителю], '') <> isnull(@Дата_отправки_информации_Исполнителю, '')
       or isnull([Содержание информационных полей. Блок 1, сторона А], '') <> isnull(@Содержание_информационных_полей_Блок_1_сторона_А, '')
       or isnull([Содержание информационных полей. Блок 1, сторона Б], '') <> isnull(@Содержание_информационных_полей_Блок_1_сторона_Б, '')
       or isnull([Содержание информационных полей. Блок 2, сторона А], '') <> isnull(@Содержание_информационных_полей_Блок_2_сторона_А, '')
       or isnull([Содержание информационных полей. Блок 2, сторона Б], '') <> isnull(@Содержание_информационных_полей_Блок_2_сторона_Б, '')
       or isnull([Содержание информационных полей. Блок 3, сторона А], '') <> isnull(@Содержание_информационных_полей_Блок_3_сторона_А, '')
       or isnull([Содержание информационных полей. Блок 3, сторона Б], '') <> isnull(@Содержание_информационных_полей_Блок_3_сторона_Б, '')
       or isnull([Содержание информационных полей. Блок 4, сторона А], '') <> isnull(@Содержание_информационных_полей_Блок_4_сторона_А, '')
       or isnull([Содержание информационных полей. Блок 4, сторона Б], '') <> isnull(@Содержание_информационных_полей_Блок_4_сторона_Б, '')
       or isnull([Фото стороны А], '') <> isnull(@Фото_стороны_А, '')
       or isnull([Фото стороны Б], '') <> isnull(@Фото_стороны_Б, '')
       or isnull([Фото текста 1], '') <> isnull(@Фото_текста_1, '')
       or isnull([Фото текста 2], '') <> isnull(@Фото_текста_2, '')
       or isnull([Фото текста 3], '') <> isnull(@Фото_текста_3, '')
       or isnull([Фото текста 4], '') <> isnull(@Фото_текста_4, '')
       or isnull([Фото замечания], '') <> isnull(@Фото_замечания, '')
       or isnull([Карта], '') <> isnull(@Карта, ''))
	
END
GO
