/****** Object:  Table [dbo].[doljnosti]    Script Date: 08/05/2016 08:55:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[doljnosti](
	[kod] [int] NULL,
	[doljnost] [nvarchar](max) NULL,
	[sortirovka] [nvarchar](max) NULL
) ON [PRIMARY]
GO
